.tableContainer {
    overflow-x: auto;
    margin-left: 300px;
    margin-top: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #586fdf;
}

th {
    background-color: #586fdf;
    color: #cbcae0;
    /* border-color: #cbcae0; */
}

td {
    font-family: "Josefin Sans", sans-serif;
    color: #b65987;
}

th:nth-child(2),
td:nth-child(2) {
    text-align: center;
}

th:nth-child(1) {
    border-right-color: #cbcae0;
}
