.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainHeader {
    align-items: center;
}

.mainHeader h1 {
    font-size: 3rem;
    margin-top: 30px;
    color: #586fdf;
    text-align: left;
    margin-left: 300px;
}

.mainText {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.mainText p {
    margin-top: 10px;
    margin-left: 300px;
    text-align: left;
    color: #586fdf;
}

.iconParty {
    margin-bottom: 12px;
}

.mainText button {
    margin-right: 100px;
    background: #b65987;
    border: none;
    border-radius: 5px;
    padding: 10px 60px;
    color: #cbcae0;
    cursor: pointer;
    font-size: 1rem;
}

.mainText button:hover {
    background-color: #475bb5;
}

.mainView {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 300px;
    margin-top: 40px;
    color: #586fdf;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
}

.icon:hover {
    color: #b65987;
}

.active {
    color: #007bff; 
}