.mapContainer {
    display: flex;
    justify-content: center;
    height: 60vh; 
    width: 72vw; 
    position: relative; 
    margin-left: 300px; 
    margin-top: 20px;
    border-radius: 5px;
}
  
.mapContainerSmall {
    height: 400px; 
    width: 800px; 
    margin: 0 auto; 
}
