.mapContainer {
    display: flex;
    justify-content: center;
    height: 60vh; 
    width: 72vw; 
    position: relative; 
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Media query for small screens */
@media (max-width: 480px) {
    .mapContainer {
        height: 40vh; 
        width: 60%;
        margin-top: 15px;
    }
}

/* Media query for tablets & small screens */
@media (min-width: 481px) and (max-width: 768px) {
    .mapContainer {
        height: 45vw; 
        width: 80%;
        margin-top: 10px; 
        margin-left: 70px;
    }
}

/* Media query for desktops & big screens */
@media (min-width: 769px) and (max-width: 1024px) {
    .mapContainer {
        height: 50vh; 
        width: 68vw; 
    }
}
