.container {
    display: flex;
}

.usersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: #cbcae0;
    background: url('./src/assets/boarding3.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.usersContainer h1 {
    color: #586fdf;
    font-size: 3rem;
    margin-top: 20px;
}

.usersContainer p {
    color: #586fdf;
    font-style: italic;
    margin-bottom: 20px;
}

/* Media Queries */

/* Small screens (max-width: 480px) */
@media (max-width: 480px) {
    .usersContainer h1 {
        font-size: 1.8rem; 
    }

    .usersContainer p {
        font-size: 0.9rem; 
        padding-left: 60px; 
    }

    .usersContainer {
        background-size: cover; 
        padding: 10px;
    }
}

/* Medium screens (min-width: 481px) and (max-width: 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .usersContainer h1 {
        font-size: 2.5rem; 
    }

    .usersContainer p {
        font-size: 1rem; 
    }

    .usersContainer {
        background-position: center; 
    }
}